.welcome-message {
    color: lightgrey;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20pt;
    margin-bottom: 2%;
}

.query-input {
    border-radius: 3px;
    width: 100%;
    height: fit-content;
}

.query-label {
    font-size: medium;
    font-style: italic;
}

.query-container {
    margin: 0 auto 3%;
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    align-items: center;
}

.search-grid {
    margin-top: 7%;
}

.query-button {
    size: initial;
    border-style: ridge;
    width: fit-content;
    color: ivory;
}

.input-message {
    color: lightgrey;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 16pt;
    font-style: oblique;
    margin-top: 5%;
}

.selector-group {
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    display: grid;
}
