.doc-container {
    display: grid;
    grid-template-areas:
        "a a a e"
        "b b b b"
        "c c c c"
        "d d d d";
}

.doc-title {
    grid-area: a;
    justify-self: start;
    margin-left: 3%;
    text-align: left;
    color: midnightblue;
}

.doc-expand {
    grid-area: c;
}

.doc-descrp {
    grid-area: b;
    justify-self: start;
    justify-content: left;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}

.doc-tip {
    grid-area: e;
    justify-self: end;
    font-size: smaller;
    font-style: italic;
    color: lightgray;
}

.doc-content {
    grid-area: d;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: start;
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}
